// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .top {
//   margin-left: auto;
// }

.product-image-box {
  width: 500px;
  height: 200px;
  background-color: #e745ff42;
  border-radius: 5px;
  margin: 20px auto;
}

.welcome {
  width: 400px;
  height: 100px;
  padding: auto;
  border: 1px solid;
  border-radius: 5px;
}

.flame {
  display: flex;
}

.image-box {
  width: 250px;
  height: 150px;
  background-color: yellow;
  margin-right: 10px;
}

.shop {
  width: 600px;
  height: 200px;
  background-color: yellow;
  margin-right: 10px;
}