<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div style="text-align:center">
        <h1 class="about" style="font-size: 60px;">About</h1>
          <p style="font-size: 23px;">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
            様々なバリエーションをご⽤意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
            ぜひご注⽂ください。
          </p>
        <div class="shop"></div>
      </div>
    </div>
  </div>
</div>
